.locateme-position {
  position: absolute;
  top: 5rem;
  right: 5rem;
  color: black;
  z-index: 5;
}

.searchContainer {
  position: absolute;
  top: 5rem;
  left: 5rem;
  color: black;
  z-index: 5;
  border: 1px solid black;
}
